<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<!-- <mapper namespace="com.springboot.demo.dao.MysqlStudentMapper">
	<select id="getAllStudentsBatis" resultType="java.util.Map">
		select * from student
	</select>
  
</mapper> -->

<mapper namespace="com.springboot.demo.dao.SysLogMapper">
	<insert id="saveSysLog" parameterType="com.springboot.demo.bean.SysLog">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">SELECT LAST_INSERT_ID()</selectKey>
		insert into Sys_Log (id,username,operation,time,method,params,ip,create_time)  
		values(#{id},#{username},#{operation},#{time},#{method},#{params},#{ip},#{createTime})
	</insert>

</mapper>
