table {
	margin: 20px 40px 20px 0px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: automatic;
	word-wrap: break-all
}
table>tbody>tr:nth-of-type(odd) {
	background-color: #F7F7F7
}
